{{> header }}

<main class="content">
    <ul class="articles-list">
        {{#each posts }}
        <li class="articles-list__article">
            <a href="/{{ path }}" class="article-preview">
                <h2 class="article-preview__title">{{ title }}</h2>
                <div class="article-preview__date">{{ date }}</div>
                <p class="article-preview__excerpt"></p>
            </a>
        </li>
        {{/each}}
    </ul>
</main>

{{> footer }}
