{{> header }}

<article>
    <h1>{{ sitename }}</h1>
    <ul>
        {{#each posts }}
        <li>
            <div>
                <a href="/{{ path }}">{{ title }}</a>
            </div>
            <div class="date">{{ date }}</div>
        </li>
        {{/each}}
    </ul>
</article>

{{> footer }}
